body {
  height: 100%; /* or min-height: 100%; */
  margin: 0;
  padding: 0;
  overflow-y: auto; /* This will show a scrollbar if the content overflows vertically */
}

/* src/SentimentNPC.css */
.npc {
  width: 100px;
  height: 50px;
  background-color: linear-gradient(
    180deg,
    rgb(169, 57, 239) 0%,
    /* 70% opacity for #AA39EF */ rgb(98, 62, 241) 100%
      /* 70% opacity for #6A46F9 */
  );
  border-radius: 50px 50px 0 0;
  position: relative;
  transition: transform 0.3s ease;
}

.npc-eye {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 25px;
  transition: transform 0.3s ease;
}

.npc-eye:nth-child(2) {
  left: auto;
  right: 25px;
}
